<div class="container p-5">
  <h2>Buttons</h2>
  <div>
    <button mat-button color="primary">Primary</button>
  </div>
  <div>
    <h3>Raised Buttons</h3>
    <button mat-raised-button color="warn">Warn</button>
  </div>
  <div>
    <h3>Stroked Buttons</h3>
    <button mat-stroked-button color="accent">Accent</button>
  </div>
  <div>
    <h3>Icon Buttons</h3>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
  </div>
  <div>
    <h3>Fab Buttons</h3>
    <button mat-fab color="primary">Primary</button>
  </div>
  <div>
    <h3>Mini Fab Buttons</h3>
    <button mat-mini-fab disabled>Disabled</button>
  </div>
</div>
