<app-autocomplete></app-autocomplete>
<app-checkbox></app-checkbox>
<app-form-field></app-form-field>
<app-inputs></app-inputs>
<app-radio-button></app-radio-button>
<app-select></app-select>
<app-menu></app-menu>
<app-expansion-panel></app-expansion-panel>
<app-lists></app-lists>
<app-sorting></app-sorting>
<app-table></app-table>
<app-datepicker></app-datepicker>
<app-slider></app-slider>
<app-slide></app-slide>
<app-toolbar></app-toolbar>
<app-card></app-card>
<app-buttons></app-buttons>
<app-button-toggle></app-button-toggle>
<app-progress-spinner></app-progress-spinner>
<app-progress-bar></app-progress-bar>
<app-snack-bar></app-snack-bar>
<app-paginator></app-paginator>
<app-chips></app-chips>
<app-badge></app-badge>
<app-stepper></app-stepper>

<div class="container p-5">
  <h2>Tab group with dynamic height based on tab contents</h2>
  <mat-tab-group dynamicHeight>
    <mat-tab label="Short tab">
      <div class="example-small-box mat-elevation-z4">
        Small content
      </div>
    </mat-tab>
    <mat-tab label="Long tab">
      <div class="example-large-box mat-elevation-z4">
        Large content
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="container p-5">
  <h2>Dialog</h2>
  <button mat-button (click)="openDialog()">Open dialog</button>
</div>
