//slider
mat-slider {
  width: 300px;
}

//multi Row Toolbar
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

//card w/ multiples sections
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
//list with sections
.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

//Tag group with dynamic height based on tab contents
.example-small-box,
.example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}
//Button toggle exclusive selection
.example-selected-value {
  margin: 15px 0;
}
//Sorting
.mat-sort-header-container {
  align-items: center;
}
//Table
table {
  width: 100%;
}
