<!DOCTYPE html>
<div class="jumbotron jumbotron-fluid mb-0 text-white">
  <div class="d-flex">
    <div class="m-auto d-flex">
      <fa-icon [icon]="faDesktop" size="7x"></fa-icon>
      <div class="p-3 text-uppercase">
        <h1 class="display-4">image less</h1>
        <p class="lead p-3">
          This is a modified jumbotron
        </p>
      </div>
    </div>
  </div>
</div>
<ul class="nav p-4 text-uppercase">
  <li class="nav-item mr-auto">
    <a class="nav-link" href="#">Your logo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact</a>
  </li>
  <li class="nav-item mr-auto">
    <a class="nav-link" href="#">Map</a>
  </li>
</ul>

<section class="text-center p-4">
  <h2>loren impusn verna guarivs tuyo esvertu</h2>
  <p>the hstuyopo huito defgi jutyh</p>
  <p>verda estefa gurdin pahita</p>
</section>
<section class="text-center section-1 p-5">
  <article>
    <h2 class="text-uppercase">Company's profile</h2>
    <p>
      Navigation available in Bootstrap share general markup and styles, from the base .nav class to the
      active and disabled states. Swap modifier classes to switch between each style. The base .nav component
      is built with flexbox and provide a strong foundation for building all types of navigation components.
      It includes some style overrides (for working with lists), some link padding for larger hit areas, and
      basic disabled styling.
    </p>
  </article>
</section>
<section class="text-center p-5">
  <h2 class="text-uppercase">Work flow</h2>
  <p>description</p>
  <p>this is some text in a p</p>
  <div class="row p-3">
    <div class="col col-4">
      <fa-icon [icon]="faDesktop" size="5x"></fa-icon>
      <p class="mt-3">Initial state #1</p>
    </div>
    <div class="col col-4"><fa-icon [icon]="faReply" size="5x"></fa-icon></div>
    <div class="col col-4">
      <fa-icon [icon]="faFlask" size="5x"></fa-icon>
      <p class="mt-3">final step #2</p>
    </div>
  </div>
</section>
<section class="section-1 p-5">
  <div class="text-center">
    <h2 class="text-uppercasae">Locate us here</h2>
    <p>loren imusun verdaga deftu freutofk hsyaloppi</p>
    <p>manu tupo loka redi</p>
  </div>
  <div class="row">
    <div class="col col-6">
      <h3>Physical Location</h3>
      <div>
        <fa-icon [icon]="faHome" size="1x"></fa-icon>
        <span class="ml-2">Address: fair street, Maryland</span>
      </div>
      <div>
        <fa-icon [icon]="faPhone" size="1x"></fa-icon>
        <span class="ml-2">phone: 648924399484</span>
      </div>
    </div>
    <div class="col col-6">
      <form>
        <div class="d-flex">
          <div class="form-group">
            <input type="name" class="form-control" id="exampleInputEmail1" placeholder="name" />
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputPassword1" placeholder="email" />
          </div>
        </div>
        <div class="form-group">
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            placeholder="message"
            rows="3"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-light">Submit request</button>
      </form>
      <div class="mt-4">
        <fa-icon [icon]="faTwitter" size="2x" class="m-2"></fa-icon>
        <fa-icon [icon]="faFacebook" size="2x" class="m-2"></fa-icon>
        <fa-icon [icon]="faLinkedin" size="2x" class="m-2"></fa-icon>
        <fa-icon [icon]="faGooglePlus" size="2x" class="m-2"></fa-icon>
        <fa-icon [icon]="faPinterest" size="2x" class="m-2"></fa-icon>
      </div>
    </div>
  </div>
</section>
<div>
  <iframe
    width="100%"
    height="440"
    src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=London%2C%20United%20Kingdom+(Title)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
  ></iframe>
</div>
<footer class="footer text-right text-white p-2">
  2019 www.yuyu.com | All rights reserve
</footer>
