#button-search {
  line-height: 0.5;
  border-top-right-radius: 0.5rem;
}

.icon-toolbar-notification {
  height: 16px;
  width: 16px;
  color: lightgray;
  &:hover {
    color: darkgray;
  }
}

.example-header-image {
  background-image: url(../../assets/placeholderimg.jpg);
  background-size: cover;
}

.dashboard-tile {
  border-left: 3px solid;
}
